header{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: vars.$left-margin;
    margin-right: vars.$right-margin;
}
.logo{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: vars.$logo-font-size;
    color: black;
}

.nav-area{
    font-style: normal;
}
.nav-area li{
    display: inline-block;
    padding-left: 20px;    
}
