@use 'vars';

@import "header";
@import "footer";
@import 'imggrid';

body {
    font-family: vars.$main-font;
    max-width: 1160px;
    margin:0 auto;
}

main {
    margin-left: vars.$margin;
    margin-right: vars.$margin;
}

.titlesection {
    margin-top: 5%;
    display: flex;
    align-items: flex-end;
    font-family: vars.$main-font;

    &_firsthalf {
        width: 75%;

        >p {
            color: blue;
        }
        h1{
            max-width:635px;
            .titlecolor{
                color:blue;
            }
        }
    }
    &_secondhalf {
        color: lightgray;

        span {
            border-top: 1px solid lightgray;
        }
    }
}

.secondsection {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;

    &_title {
        font-size: 25px;
    }

    &_seconddiv {
        margin-left: vars.$margin;
        color: gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_thirddiv {
        color: gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.thirdsection {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    &_firstcolumn {
        grid-column-start: 1;
        grid-row: span 4;
        font-weight: bold;
        font-size: 20px;
    }
    &_secondcolumn{
        font-weight: bold;
    }
    &_thirdcolumn{
        color:gray;
        >.title{
            color:black;
            margin-bottom: 10px;
        }
    }

    &_fourthcolumn {
        text-align: right;
    }

    &_line {
        grid-column: 1 / -1;
        height: 1px;
        background: gray;
    }
}