@use 'vars';

@import "header";
@import "footer";
@import 'imggrid';

body{
    font-family: vars.$main-font;
}

main{
    margin-left: vars.$left-margin;
    margin-right:vars.$right-margin;
}

.titlesection{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: vars.$main-font;
    &_firsthalf{
        width: 55%;
        >p{
            color:blue;
        }
        h2 >.titlecolor{
            color:blue;
        }
    }
}